#nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    list-style: none;
    li {
      margin: 12px;
      line-height: 32px;
    }

    @media (max-width: 840px) {
      display: none;
    }
    @media (min-width: 601px) {
      li {
        a {
          &:hover {
            color: $primary-color;
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
}

/* Menu Styles */
#menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  z-index: 25;
  padding: 20px;
  ul {
    list-style: none;
    margin-top: 10px;
    li {
      margin-bottom: 16px;
      font-size: 18px;
    }
  }
}
.menu-button {
  background: none;
  border: none;
  font-size: 21px;
  padding: 4px;
  height: 29px;
  cursor: pointer;
}

@media (min-width: 840px) {
  #menu,
  .menu-button {
    display: none;
  }
}
