/* All Topics Page Styles */
#all-topics-list {
  display: flex;
  max-width: 968px;
  flex-wrap: wrap;
  margin: 0 auto;
  a {
    margin-bottom: 12px;
  }
}
#all-topics-link {
  display: flex;
  align-items: center;
}
@media (min-width: 601px) {
  #all-topics-link:hover {
    color: #f7102b;
    transition: all 0.4s ease;
  }
}