/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

/* Multi-use Components */
.tags {
  background: #000;
  color: #fff;
  padding: 5px 12px;
  margin-right: 12px;
  border: 1px solid #000;
  transition: all 0.4s ease;
}

@media (min-width: 601px) {
  .tags:hover {
    background: #fff;
    color: #000;
  }
}

.page-header {
  margin: 102px 0 42px 0;
  font-size: 32px;
  font-weight: 400;
}

/* Small Cards Styles (Sidebar) */
.card-small-styles {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}
.card-small-image {
  width: 104px;
  height: 58.5px;
  margin-right: 18px;
}
@media (min-width: 601px) {
  .card-small-image:hover {
    filter: grayscale(80%);
    transition: all 0.7s ease;
  }
}
.card-small-styles h3 {
  font-size: 14px;
  color: #161616;
}
.card-small-topic {
  font-size: 11px;
  color: #4d4d4d;
  text-transform: uppercase;
}
@media (min-width: 601px) {
  .card-small-styles figcaption h3:hover {
    color: #f7102b;
    transition: all 0.4s ease;
  }
}

/* Blog Post Styles */
#article {
  width: 740px;
  margin: 100px auto 40px auto;
}
.article-title {
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  padding: 3px 2px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
  cursor: text;
}
@media (max-width: 840px) {
  #article {
    width: 100%;
  }
  #article header {
    width: 100%;
  }
}

.article-date {
  font-size: 16px;
  line-height: 22px;
  margin-top: 7px;
}
.article-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.article-image {
  height: 416.25px;
  margin: 40px 0;
}
@media (max-width: 840px) {
  .article-image {
    width: 100%;
    height: auto;
  }
}
#similar-posts-header {
  margin-bottom: 25px;
}

/* Topics Page Styles */
.topic-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0 60px 0;
}
.topic-page-header h1 {
  margin-right: 24px;
}
.topic-page-image {
  width: 90px;
  height: 90px;

  @media (max-width: 600px) {
    width: 60px;
    height: 60px;
  }
}

/* All Topics Page Styles */
#all-topics-list a {
  display: inline-block;
  margin-bottom: 12px;
}
#all-topics-link {
  display: flex;
  align-items: center;
}
@media (min-width: 601px) {
  #all-topics-link:hover {
    color: #f7102b;
    transition: all 0.4s ease;
  }
}

/* About Page Styles */
#about {
  min-height: 420px;
  margin-top: 100px;
}
#about h3 {
  margin: 40px 0 20px 0;
}
#about p {
  margin-bottom: 20px;
}
.about-icons {
  font-size: 36px;
  margin: 20px 0;
}


.pagination-links {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pagination-link {
  display: flex;
  align-items: center;
  width: 84px;
}
@media (min-width: 601px) {
  .pagination-link:hover {
    color: #f7102b;
    transition: all 0.4s ease;
  }
}
.pagination-details {
  color: #000;
  font-size: 17px;
  min-width: 154px;
  max-width: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-disabled {
  pointer-events: none;
  color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
}
.icon-left {
  margin-right: 8px;
}
.icon-right {
  margin-left: 8px;
}
.icon-fix {
  transform: translateY(1px);
}
