/* Small Cards Styles (Sidebar) */
.card-small-styles {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}
.card-small-image {
  width: 104px;
  height: 58.5px;
  margin-right: 18px;
}
@media (min-width: 601px) {
  .card-small-image:hover {
    filter: grayscale(80%);
    transition: all 0.7s ease;
  }
}
.card-small-styles h3 {
  font-size: 14px;
  color: #161616;
}
.card-small-topic {
  font-size: 11px;
  color: #4d4d4d;
  text-transform: uppercase;
}
@media (min-width: 601px) {
  .card-small-styles figcaption h3:hover {
    color: #f7102b;
    transition: all 0.4s ease;
  }
}

/* About Page Styles */
#about {
  min-height: 420px;
  margin-top: 100px;
}
#about h3 {
  margin: 40px 0 20px 0;
}
#about p {
  margin-bottom: 20px;
}
.about-icons {
  font-size: 36px;
  margin: 20px 0;
}


.pagination-links {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pagination-link {
  display: flex;
  align-items: center;
  width: 84px;
}
@media (min-width: 601px) {
  .pagination-link:hover {
    color: #f7102b;
    transition: all 0.4s ease;
  }
}
.pagination-details {
  color: #000;
  font-size: 17px;
  min-width: 154px;
  max-width: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-disabled {
  pointer-events: none;
  color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
}
.icon-left {
  margin-right: 8px;
}
.icon-right {
  margin-left: 8px;
}
.icon-fix {
  transform: translateY(1px);
}
