.pagination-links {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pagination-link {
  display: flex;
  align-items: center;
  width: 84px;
}
@media (min-width: 601px) {
  .pagination-link:hover {
    color: #f7102b;
    transition: all 0.4s ease;
  }
}
.pagination-details {
  color: #000;
  font-size: 17px;
  min-width: 154px;
  max-width: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-disabled {
  pointer-events: none;
  color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
}
.icon-left {
  margin-right: 8px;
}
.icon-right {
  margin-left: 8px;
}
.icon-fix {
  transform: translateY(1px);
}
